/* -------------------------------- */
/* ---------- CSS Reset ----------- */
/* -------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Add your styles below */
body{
  background-color: black;
}
header{
  display: flex;
  justify-content: inline;
  gap:70%;
}
header img{
  max-width: 100px;
  padding: 10px;
}
nav{
  display: block;
  justify-content: inline;
}
